body{
	font-family: 'Genos', sans-serif;
	margin: 0;
	background-color: #000000;
}

/*#header{    Estilo para logo con menu barra
    display: flex;
    justify-content: space-around;
    width: 90%;
}*/


/*Galería
* {
  box-sizing: border-box;
}*/

.mySlides img, .column img {
  vertical-align: middle;
}

/* Position the image container (needed to position the left and right arrows) */
.container {
  position: relative;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Add a pointer when hovering over the thumbnail images */
.cursor {
  cursor: pointer;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 40%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: white;
  font-size: 20px;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
  transition: 1.2s;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
  transition: 1.2s;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
  transition: 0.2s;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* Container for image text */
.caption-container {
  text-align: center;
  background-color: #000000;
  padding: 2px 16px;
  color: white;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Six columns side by side */
.column {
  float: left;
  width: 16.66%;
}

/* Add a transparency effect for thumnbail images */
.demo {
  opacity: 0.6;
}

.active,
.demo:hover {
  opacity: 1;
}
/*Fin Galería*/




#header{
    display: flex;
    width: 90%;
    margin: 0 auto;
    justify-content: flex-start;
    /*background-color: aqua;*/
    padding: 30px 20px 25px 20px;
}
#logo{
		display: block;
    margin: 0 auto;
    padding: 0;
    width: 8%;
    /*background-color: #921c1c;*/
}
#menuBar{
	  display: block;
    width: 90%;
    margin: 0 auto;
    align-self: center;
}
#menuBarElements{
	 display: flex;
    justify-content: flex-start;
    width: 45%;
    margin: 0;
    text-align: left;
    background-color: #000000;
}
#homeButton{
		display: block;
    margin: 0;
    width: 15%;
    /*background-color: beige;*/
    align-self: center;
    
}
#homeButton i{
		color: #000000;
    font-size: 16px;
    text-decoration: none;
    padding: 7px;
    background-color: #ffffff;
    border: 1px solid #000000;
    transition: 2s;
}
#homeButton i:hover{
	color: #ffffff;
	background-color: #000000;
	border: 1px solid #ffffff;
	transition: 0.5s;
}



/*
#moduloEnlace{
    display: block;
    background-color: #000000;
    margin: 0 auto;
    width: 20%;
    padding: 20px;
}*/
.invert { filter: invert(100%); }/*Logo blanco*/

#menuBarElements a{
		color: #ffffff;
    border-bottom: none;
    display: block;
    margin: 0 auto;
    text-decoration: none;
    text-align: center;
    font-size: 22px;
    background-color: #000000;
    border: 1px solid #000000;
    width: 25%;
    padding-top: 0;
    font-family: 'Genos', sans-serif;
    font-weight: 400;
    transition: 1.5s;
}
#menuBarElements a:hover{
  font-family: 'Genos', sans-serif;
  background-color: #474747;
  border-left: 1px solid #8B8B8B;
  border-bottom: 1px solid #8B8B8B;
  color: #ffffff;
	transition: 0.15s;
}
#contenido{
  display: block;
    margin: 0 auto;
    width: 100%;

    /*background-image: url(background.png);
    background-size: cover;
    background-position: center center;*/
    background-color: #ffffff;
}
#contenido p{
    font-weight: 200;
    text-transform: uppercase;
    font-size: 18px;
    line-height: 23px;
}



#footer{
		display: block;
    width: 100%;
    margin: 0 auto;
    text-align: center;
    background-color: #000000;
    padding: 20px 0 15px 0;
}
#footer p{
    color: #FFFFFF;
    margin: 0;
    font-size: 25px;
    font-weight: 200;
    display: inline-block;
}

/*MEDIA QUERIES*/


/*  Tablet */
@media (min-width: 1025px) and (max-width: 1280px) { 
  #header{
  	background-color: pink;
  } 
}
/* iPad small */
@media (min-width: 768px) and (max-width: 1024px) { 
  #header{
  	background-color: blue;
  } 
  #homeButton{
    display: none;
  }
}
/* ##Device = Tablets, Ipads (landscape)*/
@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
  #header{
  	background-color: yellow;
  }
  	
}
/*##Device = Low Resolution Tablets, Mobiles (Landscape)*/
@media (min-width: 481px) and (max-width: 767px) {
  #header{
  	background-color: green;
  } 
}
/* iPhone */
@media (min-width: 320px) and (max-width: 480px) { 
  #general{
    display: block;
    position: relative;
  }

  #header{
  	/*background-color: lightblue;*/
  	background-color: #000;
    position: fixed;
    top: 0;
    width: 100%;
    padding: 10px 0;
  }
  #homeButton i {
    display: none;
    color: #000000;
    font-size: 16px;
    text-decoration: none;
    padding: 7px;
    background-color: #ffffff;
    border: 1px solid #000000;
    transition: 2s;
    position: fixed;
    top: 0;
    right: 0;
}

#logo {
    display: block;
    margin: 0 auto;
    padding: 0;

    width: 10%;

    /* background-color: #921c1c; */
}

#logo img{
  display: block;
  margin: 0 auto;
  width: 100%;
  }
  #menuBarElements {
    display: flex;
    justify-content: space-around;
    width: 100%;
    margin: 0 auto;
    text-align: center;
    background-color: #000000;
    align-items: center;
}
#menuBar {
    display: block;
    width: 80%;
    margin: 0 auto;
    align-self: center;
}
#homeButton {
  display: none;
}

#menuBarElements a {
    color: #ffffff;
    border: 1px solid #ffffff;
    display: block;
    margin: 0 auto;
    text-decoration: none;
    text-align: center;
    font-size: 21px;
    background-color: #000000;
    width: 29%;
    font-weight: 500;
    padding-top: 0;
    transition: 0.5s;
}

#menuBarElements a:hover {
    filter: hue-rotate(80deg);
    transition: 0.3s;
    text-shadow: 0 -1px 4px #FFF, 0 -2px 10px #ff0, 0 -10px 20px #ff8000, 0 -18px 40px #F00, 2px 2px 2px rgba(72,206,81,0);
}
#contenido{
  display: block;
    margin: 55px auto 0 auto;
    width: 100%;
    /*background-image: url(background.png);
    background-size: cover;
    background-position: center center;*/
    background-color: #ffffff;
}







}







